/* body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  background-attachment: fixed;
}
/* border hover */
input:focus {
  outline-color: #12819C;
}
/* header and image */
.header {
  height: 7rem;
  background-color: #12819C;
  overflow: hidden;
  width: 100%;
  background-image: url("../Img/pattern.jpeg");
  background-repeat: repeat-x;

}

.centered {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f5f5f5;
    background-color: #12819C;
    padding: 3px;
}
/* headers */
h1{
    color: #f5f5f5;
    background-color: #12819C;
}

h2 {
  color: #12819C;
  border-bottom: 1px solid #12819C;
  padding-bottom: 6px;
}
/* headers */

/* text boxes styling */
input {
  padding: 10px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}

input[type=date] {
  padding-left: 22%;
}

input[id=from-date],input[id=to-date] {
  padding-left: 55px;
}

textarea {
  width: 300px;
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 4px;
}
.label {
  color: #12819C;
}
/* text boxes styling */

/*class container */
.container {
  border-radius: 5px;
  background-color: #F5F5F5;
  padding: 20px;
}

.flex-container>div {
  background-color: #F5F5F5;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
/*class container */

td {
  padding-right: 4.5rem;
  padding-top: 1.5rem;
}

/* buttons */
.button {
  margin-top: 10px;
  text-align: center;
}

.submit-button {
  background-color: #12819C;
  border: 1px solid #12819C;
  padding: 16px 32px 16px 32px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0D677F;
}
/* buttons */

/* cenering form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

p {
  text-align: center;
  font-size: 17px;
}
